.container {
  max-height: 27.69rem;
  max-width: 23rem;

  &__photo {
    width: 23rem;
    height: 23rem;
    overflow: hidden;
    margin-bottom: 1.5rem;

    img {
      max-width: 24.12rem;
      max-height: 28.56rem;
      object-fit: contain;
      transform: translateX(50px);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 1.25rem;
      font-weight: 600;
    }

    &__amount {
      font-size: 0.88;
      color: #89939A;
    }
  }
}
