.container {
  display: flex;
  flex-direction: column;
  max-width: 1136px;
  margin: 24px auto 0;

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 16px;
  }

  &__title {
    color: #313237;
    font-size: 32px;
    font-weight: 800;
  }

  &__product {
    max-height: 464px;
    display: grid;
    margin-top: 40px;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
  }
}
