@use 'src/styles/mixins' as *;

.container {
  margin: 5rem auto 0;
  max-width: 1140px;

  &__header {
    display: flex;
    justify-content: space-between;

    &__title {
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 1.5rem;
    }

    &__buttons {
      display: flex;
      gap: 1rem;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  @include tablet {
    &__list {
      display: inline-flex;
    }
  }

  @include mobile {
    &__header {
      &__title {
        font-size: 22px;
      }
    }
  }
}
