@use 'src/styles/mixins' as *;

.container {
  width: 100%;
  margin-top: 3.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;


  &__button {
    max-height: 400px;
    min-width: 32px;
    flex-shrink: 1;
    width: auto;
  }

  img {
    max-height: 400px;
    height: auto;
    object-fit: contain;
    max-width: calc(100% - 96px);
  }

  @include mobile {
    img {
      max-width: 100vh;
      height: auto;
      display: block;
      object-fit: cover;
    }

    &__button {
      display: none;
    }
  }
}
