@use 'src/styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;

  &__content {
    width: 100%;
    margin-top: 3.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;

    img {
      height: auto;
      object-fit: contain;
      max-width: calc(100% - 100px);
    }
  }

  &__counter {
    display: flex;
    gap: 0.63rem;
    justify-content: center;
    margin-top: 0.5rem;

    &__item {
      width: 0.88rem;
      height: 0.25rem;
      background-color: #E2E6E9;

      &.active {
        background-color: #313237;
      }
    }
  }

  @include tablet {
    img {
      max-width: calc(100% - 100px);
    }
  }

  @include mobile {
    img {
      max-width: 100vh;
      height: auto;
      display: block;
      object-fit: cover;
    }

    &__button {
      display: none;
    }
  }
}
