@use 'src/styles/mixins' as *;

.container {
  max-width: 1140px;
  margin: 56px auto 0;
  padding-bottom: 80px;

  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1140px;
  }

  @include tablet {
    padding: 56px 32px 32px 80px;
  }

  @include mobile {
    padding: 24px 0 80px;

    h1 {
      font-size: 32px;
      margin-left: 1rem;
   }
  }
}
