@use 'src/styles/mixins' as *;

.container {
  max-width: 1140px; // Defina a largura máxima desejada
  margin: 5rem auto 0; // Centraliza horizontalmente e adiciona margin-top

  &__title {
    font-size: 2rem;
    font-weight: 800;
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  @include tablet {
    padding-right: 80px;
  }
}
