.container {
  margin-top: 5rem;

  &__title {
    font-size: 2rem;
    font-weight: 800;
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }
}
